
/.vs
/.vs
/Assignment1/obj
/Assignment2/.vs
/Assignment2/obj
/Assignment3/.vs
/Assignment3/obj
/Exercise_0527b/bin
/Exercise_0527b/obj
/Exercises/05222024/ConsoleApp25/.vs
/Exercises/05222024/ConsoleApp25/ConsoleApp25/obj
/Exercises/05222024/Demo1_Module1_Classes/.vs
/Exercises/05222024/Demo1_Module1_Classes/obj
/Exercises/obj
/Exercises_0527/bin
/Exercises_0527/obj
/Lab0/obj
/Lab1/bin
/Lab1/.vs
/Lab1/obj
/Lab2/obj
/Assignment1/.vs
/.vs
/.vs
/Laba1/obj
/Lab1_old/obj
