
/.vs
/Assignment1/.vs
/Assignment1/obj
/Assignment2/.vs
/Assignment2/obj
/Assignment3/.vs
/Assignment3/obj
/Exercise_0527b/obj
/Exercises/05222024/ConsoleApp25/ConsoleApp25/obj
/Exercises/05222024/Demo1_Module1_Classes/obj
/Exercises_0527/obj
/Exercises/obj
/Exercises/05222024/ConsoleApp25/.vs
/Exercises/05222024/Demo1_Module1_Classes/.vs
/Exercises/05222024/Demo1_Module1_Classes/obj
/Exercises/bin
/Exercises_0527/bin
/Exercises_0527/obj
/Lab0/obj
/Lab1/bin
/Lab1/.vs
/Lab1/obj
/Lab1_old
/Lab1_old
/Lab1_old
/Lab2/obj
/Lab1/.vs
/Assignment2/.vs
/Lab0/.vs
/Lab2/bin
/Lab2/bin
/Lab4/bin/Debug
/Lab4/obj
/obj
/Class Exercises/MauiApp19/bin
/Class Exercises/MauiApp19/obj
/Class Exercises/MauiApp20/bin
/Class Exercises/MauiApp20/obj
/Class Exercises/ShapesExercise_0603/bin
/Lab10-Recursives/obj
/Lab3/Lab3/Step1/obj
/Lab3/Lab3/Step2/obj
/Lab5/obj
/Lab6-SerializationRAFv2/bin
/Lab7_Solution/.vs
/Lab7_Solution/Lab7_Code/bin
/Lab7_Solution/Lab7_Code/obj
/Lab7_Solution/Lab7_Test/bin
/Lab7_Solution/Lab7_Test/obj
/Lab8-SLL/.vs
/Lab8-SLL/Lab8-SLL Tests/bin
/Lab8-SLL/Lab8-SLL Tests/obj
/Lab8-SLL/Lab8-SLL/bin
/Lab8-SLL/Lab8-SLL/obj
/Lab9/obj
/Lab9/bin
/Lab6-SerializationRAFv2/obj
Lab10-Recursives.zip
*.zip
