
/.vs
/Assignment1/.vs
/Assignment1/obj
/Assignment2/obj
/Assignment3/obj
/Exercise_0527b/obj
/Exercises/05222024/ConsoleApp25/ConsoleApp25/obj
/Exercises/05222024/Demo1_Module1_Classes/obj
/Assignment3/.vs
/Exercises_0527/obj
/Lab0/obj
/Exercises/obj
/Lab1/bin
/Lab1/obj
/Lab1_old/obj
/Lab2/obj
/Lab1/.vs
/Assignment2/.vs
Lab0/.vs/Lab0.csproj.dtbcache.json
